  


<h1>Hello, <%= @user.name %>!</h1>

<h5>Email: <%= @user.email %></h5>
<br><br>
<h2 style="color:#563f46;"><b> Here are your books:</b></h2>
<% @user.posts.each do |post| %>

<h3><a class= "btn-flat-large waves-effect black-text" href="/posts/<%= post.id %>"><%= post.title %></a></h3>

<p>Author: <%= post.author %></p>

<p>Publication Date: <%= post.copyright_date %></p>

<img src="<%= post.image_url %>" alt="<%= post.title %>" height="200" width="300"><br>


<p>User Review: <%= post.description %></p>
<p>By: <%= post.created_by %></p>

<strong>Created at: <%= post.created_at %></strong>
<div class="divider" style="color:#fff;background:#563f46"> </div>
<div class="divider" style="color:#fff;background:#563f46"> </div>
<div class="divider" style="color:#fff;background:#563f46"> </div>
<div class="divider" style="color:#fff;background:#563f46"> </div>
<% end %>
