
<h1>Edit Post!</h1>


<form class="" action="/posts" method="post">
  <label for="title">Title:</label>
  <input type="text" name="post[title]" value="<%= @post.title %>">

  <label for="author">Author:</label>
  <input type="text" name="post[author]" value="<%= @post.author %>">
  
  <label for="copyright_date">Date Published:</label>
  <input type="text" name="post[copyright_date]" value="<%= @post.copyright_date %>">

  <label for="image_url">Image URL:</label>
  <input type="text" name="post[image_url]" value="<%= @post.image_url %>">
  
  <label for="description">Review:</label>
  <input type="text" name="post[description]" value="<%= @post.description %>">


  <input type="submit" name="" value="Edit Post">

</form>