
<h2 style="color:#563f46;"><b>Edit Post:</b></h2>


<form class="" action="/posts/<%= @post.id%>" method="post">
    <input type="hidden" name="_method" value="patch">

  <label style="color:#563f46" for="title">Title:</label>
  <input class="white" type="text" name="post[title]" value="<%= @post.title %>">

  <label style="color:#563f46" for="author">Author:</label>
  <input class="white" type="text" name="post[author]" value="<%= @post.author %>">
  
  <label style="color:#563f46" for="copyright_date">Date Published:</label>
  <input class="white" type="date" name="post[copyright_date]" value="<%= @post.copyright_date %>">

  <label style="color:#563f46" for="image_url">Image URL:</label>
  <input class="white" type="text" name="post[image_url]" value="<%= @post.image_url %>">
  
  <label style="color:#563f46" for="description">Review:</label>
  <input class="white" type="text" name="post[description]" value="<%= @post.description %>">


  <input type="submit" style="color:#fff;background:#563f46" class="btn" name="" value="Edit Post">

</form>