<h2 style="color:#563f46;"><b>Check out the local reviews:</b></h2>

<form action="/posts" method="get">
  <div class="row" style="margin-bottom: 0;">
    <div class="col s5 input-field" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
      <input type="text" name="query" id="query" placeholder="Enter Title Search">
    </div>
  </div>
  <input type="submit" style="color:#fff;background:#563f46" value="Search" class="btn">
</form>
    
<% @posts.each do |post| %>

<h3><a class= "btn-flat-large waves-effect waves-blue-grey darken-3 black-text" href="/posts/<%= post.id %>"><%= post.title %></a></h3>

<p>Author: <%= post.author %></p>
<p>Publication Date: <%= post.copyright_date %></p>

<img src="<%= post.image_url %>" alt="<%= post.title %>" height="250" width="300"><br>


<p>User Review: <%= post.description %></p>
<p>By: <%= post.created_by %></p>
<strong>Created at: <%= post.created_at %></strong>
<div class="divider" style="color:#fff;background:#563f46"> </div>
<div class="divider" style="color:#fff;background:#563f46"> </div>
<div class="divider" style="color:#fff;background:#563f46"> </div>
<div class="divider" style="color:#fff;background:#563f46"> </div>
<% end %>
</div>



